
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{

  background-color: #04070f;
  color: white;
  font-family: sans-serif, Arial, Helvetica;
  margin: 0%;
  padding: 0%;
}



@media only screen and (max-width: 768px) {

  body{

  font-size: 16px;
  }

}

@media only screen and (max-width: 768px) and (min-width: 480px) {

  body{

  font-size: 15px;
  }

}
@media only screen and (max-width: 479px) {

  body{

  font-size: 14px;
  }

}

